{
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "no-console": 1
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "env": {
    "browser": true,
    "amd": true,
    "node": true
  }
}