p, h1, h2, h3, h4, h5, h6, a {
  font-family: Roboto;
  line-height: 35px;
  font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {
  color: #0050a1;
  font-weight: 200;
  margin: 30px auto;
}
p {
  color: #707070;
  a {
    text-decoration: none;
    color: #5F6D7B;
    font-weight: 200;
  }
}

.doc-container {
  width: 100%;
  height: calc(100vh - 228px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 5px;
}

.toc-container {
  width: 25%;
  min-width: 290px;
  height: 100%;
  background-color: #F5F7FA;
  border-radius: 5px;

  .back-bttn {
    height: 45px;
    padding-top: 10px;
    text-align: center;

    .arrow {
      border: solid #4353d2;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      margin-right: 10px;
    }

    .left {
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
    }

    a {
      color: #4353d2;
      text-decoration: none;
      font-family: roboto;
      font-weight: 400;
    }
  }

  .doc-toc {
    width: 100%;
    height: calc(100% - 45px);
    overflow: auto;
    padding-left: 20px;
    border-top: thin solid #a9a9a9;

    ul, ol {
      a {
        transition: 0.3s ease-in-out;
      }
      
      a:hover {
        white-space: nowrap; 
        margin: 10px;
        padding: 10px;
        background-color: #ffffff;
        border-radius: 5px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      }

      a:active {
        background-color: #5f6d7b;
        color: #ffffff;
      }
    }
  }
}

.doc-main {
  width: calc(75% - 30px);
  height: calc(100% - 30px);
  padding: 15px;
  overflow: auto;
  scroll-behavior: smooth;

  a {
    color: #0078ef;
  }
}

ol {
  color: #a9a9a9;
  font-weight: 200;
  margin: 0;
  li {
    margin: 15px;
    a {
      text-decoration: none;
      color: #5F6D7B;
      font-weight: 200;
      line-height: 20px;
    }
  }
}

ul {
  list-style-type: none;
  margin: 0;
  li {
    margin: 15px 0;
    ul {
      margin-top: 0;
    }
    a {
      text-decoration: none;
      color: #5F6D7B;
      font-weight: 200;
      line-height: 20px;
    }
  }
}