p, h1, h2, h3, h4, h5, h6, a {
  font-family: Roboto;
}
h1, h2, h3, h4, h5, h6 {
  color: #101010;
  font-weight: 400;
}
p {
  color: #707070;
  a {
    text-decoration: none;
    color: #5F6D7B;
    font-weight: 200;
  }
}

.doc-container {
  width: 100%;
  height: calc(100vh - 228px);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.toc-container {
  width: 25%;
  height: 100%;
  background-color: #F5F7FA;

  .back-bttn {
    padding: 2px 10px 0 10px;
    color: #663399;
    font-family: sans-serif;
    text-decoration: none;
  }

  .doc-toc {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-top: 39px;
    padding-left: 20px;
  }
}

.doc-main {
  width: 75%;
  height: 100%;
  overflow: auto;
  scroll-behavior: smooth;

  a {
    color: violet;
  }
}

ol {
  color: #a9a9a9;
  font-weight: 200;
  margin-top: 0;
  font-family: roboto;
  a {
    text-decoration: none;
    color: #5F6D7B;
    font-weight: 200;
    line-height: 20px;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  li {
    margin: 15px 0;
    ul {
      margin-top: 0;
    }
    a {
      text-decoration: none;
      color: #5F6D7B;
      font-weight: 200;
      line-height: 20px;
    }
  }
}