@import '../../_colors.scss';

.docs-container {
  height: 100%;
  font-family: sans-serif;

  .docs-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow-x: auto;
  }

  .docs-item {
    width: 250px;
    height: 100%;
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-decoration: none;
    background-color: $system;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    // transition: 0.3s ease-in-out;
    overflow-y: auto; 

    .doc-title {
      width: 220px;
      margin:0 0 20px 0;
      padding: 0 15px;
      color: #ffffff;
      font-family: sans-serif;
      font-weight: 200;
      font-size: 200%;
      text-align: left;
    }

    .date-container {
      width: calc(100% - 10px);
      padding: 5px 10px 5px 10px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      .date-yearMonthDate {
        height: 20px;
        margin: 0;
        color: #ffffff;
        text-align: right;
        font-size: 100%;
        font-weight: 400;
      }

      .date-timeDayTime {
        height: 20px;
        color: #ffffff;
        margin: 0 0 40px 0;;
        padding: 0;
        text-align: right;
        font-size: 100%;
        font-weight: 300;
      }
    }
    .doc-date {
      padding-left: 15px;
      margin-top: 20px;
      color: #ffffff;
      font-weight: 300;
      font-size: 75%;
      text-align: left;
    }

    .doc-preview {
      width: 230px;
      height: calc(100% - 230px);
      margin: 0 auto;
      overflow: hidden;
      h1, h2, h3, h4, h5, h6 {
        font-size: 130%;
        margin: 0;
      }
       p, h1, h2, h3, h4, h5, h6, li, a {
         color: #ffffff;
       }
       p {
        margin-top: 10px;
        line-height: 20px;
       }
    }
  }
}

.create-doc-container {
  z-index: 8;
  width: 200px;
  margin: 0 auto;
  border-radius: 30px;
  background-color: $system;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  .create-doc-successMessage {
    position: absolute;
    font-weight: 300;
    margin-top: 75px;
  }
}

.create-doc-container:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.create-doc-container.active {
  position: fixed;
  top: 25px;
  left: 2.5vw;
  width: 95vw;
  height: 90vh;
  background-color: #ffffff;
}

.doc-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .close-bttn {
    width: 100px;
    margin: 20px auto 0 auto;
    color: $important;
    padding: 3px;
    background: none;
    outline: none;
    border: thin solid $important;
    font-family: sans-serif;
    font-weight: 200;
    font-size: 100%;
    border-radius: 30px;
    // transition: 0.5s ease-in-out;
  }
  
  .close-bttn:hover {
    color: #ffffff;
    background-color: $important;
  }

  .helpertext {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: $off-black;

    span {
      margin: 0 0 15px 5px;
      font-size: 75%;
      color: $dark-text;
    }
  }

  .title-input {
    width: 100%;
    height: 40px;
    margin: 0 auto;
    padding-left: 5px;
    background: none;
    outline: none;
    border-radius: 5px;
    border: none;
    color: $off-black;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    font-family: sans-serif;
  }

  .content-container {
    padding: 20px;
    width: 100%;
    height: 80%;
    background-color: $system;
    overflow-y: auto;
  }

  .content-info {
    height: 40px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 10px auto;

    label {
      padding: 10px;
      margin-right: 40px;
      border-radius: 20px;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      background-color: $system;
      color: #ffffff;
      input {
        margin: 5px;
        color: $input;
      }
    }

    label:active {
      background-color: $heading;
    }
  }

  .markdown-container {
    width: 100%;
    max-width: 1200px;
    height: calc(100% - 45px);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    .markdown-input {
      width: 33.33333%;
      height: 100%;
      padding: 5px;
      resize: none;
      font-family: sans-serif;
      border: none;
      overflow: auto;
      border-radius: 5px 0 0 5px;
    }

    .markdown-preview {
      width: 66.66666%;
      height: 100%;
      padding: 5px;
      text-align: center;
      background-color: #ffffff;
      border-left: thin solid $light-background;
      border-radius: 0 5px 5px 0;

      h4 {
       color: $dark-text;;
       margin: 0 auto;  
      }

      .preview-layout {
        width: 100%;
        height: calc(100% - 20px);
        display: flex;
        flex-direction: row;
        justify-content: center;
      }

      .preview-content {
        text-align: left;
      }
      .toc {
        width: 33%;
        height: calc(100% - 20px);
        overflow-y: auto;
      }

      .main {
        width: 66%;
        height: calc(100% - 20px);
        overflow: auto;
      }

      a {
        text-decoration: none;
        color: $anchor;
      }
      
      .toc.selected, .main.selected {
        background-color: $light-background;
        border: thin solid $dark-text;
      }
    }
  }

  .submit-bttn {
    outline: none;
    border: none;
    border-radius: 20px;
    background: $system;
    margin: 20px auto;
    width: 100px;
    color: #ffffff;
    font-family: sans-serif;
    font-weight: 300;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
}

.create-doc-bttn {
  cursor: pointer;
  margin-bottom: 50px;
  padding: 10px;
  height: 100%;
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-weight: 300;
  font-family: sans-serif;
}