.docs-container {
  height: 100%;
  font-family: Roboto;

  .docs-list {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .docs-item {
    width: 30%;
    min-width: 300px;
    height: 400px;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-decoration: none;
    background: linear-gradient(#ffffff, #0078ef);
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: 0.3s ease-in-out;
    overflow-y: auto; 

    .doc-title {
      width: calc(100% - 30px);
      margin: 0;
      padding: 0 15px;
      color: #001a66;
      font-family: Roboto;
      font-weight: 200;
      text-align: left;
    }

    .doc-date {
      width: calc(100% - 10px);
      padding-left: 10px;
      margin-top: 20px;
      color: #707070;
      font-weight: 300;
      font-size: 75%;
      text-align: left;
    }

    .doc-preview {
      width: 90%;
      height: 150px;
      margin: 40px auto 0 auto;
      overflow: hidden;
       p, h1, h2, h3, h4, h5, h6, li, a {
         color: #ffffff;
       }
    }
  }

  .docs-item:hover {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }
}

.create-doc-container {
  z-index: 8;
  width: 200px;
  margin: 0 auto;
  border-radius: 30px;
  background-color: #4373D2;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  .create-doc-successMessage {
    position: absolute;
    font-weight: 300;
    margin-top: 75px;
  }
}

.create-doc-container:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.create-doc-container.active {
  position: fixed;
  top: 25px;
  left: 2.5vw;
  width: 95vw;
  height: 90vh;
  background-color: #ffffff;
}

.doc-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .close-bttn {
    width: 100px;
    margin: 20px auto 0 auto;
    color: #ff4c4c;
    padding: 3px;
    background: none;
    outline: none;
    border: thin solid #ff4c4c;
    font-family: helvetica;
    font-weight: 200;
    font-size: 100%;
    border-radius: 30px;
    transition: 0.5s ease-in-out;
  }
  
  .close-bttn:hover {
    color: #ffffff;
    background-color: #ff4c4c;
  }

  .helpertext {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #101010;

    span {
      margin: 0 0 15px 5px;
      font-size: 75%;
      color: #a9a9a9;
    }
  }

  .title-input {
    width: 100%;
    height: 40px;
    margin: 0 auto;
    padding-left: 5px;
    background: none;
    outline: none;
    border-radius: 5px;
    border: none;
    color: #101010;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    font-family: helvetica;
  }

  .content-container {
    padding: 20px;
    width: 100%;
    height: 80%;
    background-color: #9999ff;
    overflow-y: auto;
  }

  .content-info {
    height: 40px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 10px auto;

    label {
      padding: 10px;
      margin-right: 40px;
      border-radius: 20px;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      background-color: #6666ff;
      color: #ffffff;
      input {
        margin: 5px;
        color: #0DFF92;
      }
    }

    label:active {
      background-color: #663399;
    }
  }

  .markdown-container {
    width: 100%;
    max-width: 1200px;
    height: calc(100% - 45px);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    .markdown-input {
      width: 33.33333%;
      height: 100%;
      padding: 5px;
      resize: none;
      font-family: sans-serif;
      border: none;
      overflow: auto;
      border-radius: 5px 0 0 5px;
    }

    .markdown-preview {
      width: 66.66666%;
      height: 100%;
      padding: 5px;
      text-align: center;
      background-color: #ffffff;
      border-left: thin solid #a9a9a9;
      border-radius: 0 5px 5px 0;

      h4 {
       color: #a9a9a9;
       margin: 0 auto;  
      }

      .preview-layout {
        width: 100%;
        height: calc(100% - 20px);
        display: flex;
        flex-direction: row;
        justify-content: center;
      }

      .preview-content {
        text-align: left;
      }
      .toc {
        width: 33%;
        height: calc(100% - 20px);
        overflow-y: auto;
      }

      .main {
        width: 66%;
        height: calc(100% - 20px);
        overflow: auto;
      }

      a {
        text-decoration: none;
        color: #5F6D7B;
      }
      
      .toc.selected, .main.selected {
        background-color: #d3d3d3;
        border: thin solid #a9a9a9;
      }
    }
  }

  .submit-bttn {
    outline: none;
    border: none;
    border-radius: 20px;
    background: #4373D2;
    margin: 20px auto;
    width: 100px;
    color: #ffffff;
    font-family: sans-serif;
    font-weight: 300;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
}

.create-doc-bttn {
  cursor: pointer;
  margin-bottom: 50px;
  padding: 10px;
  height: 100%;
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-weight: 300;
  font-family: sans-serif;
}