.docs-container {
  font-family: sans-serif;

  .docs-item {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;

    h2 {
      font-weight: 400;
      color: #663399;
    }

    a {
      text-decoration: none;
      min-width: 70%;
    }

    p {
      border-bottom: thin solid lightgrey;
      padding-bottom: 10px;
      color: #707070;
      font-weight: 300;
    }

    // css for README icon
    .icon {
      display: inline-block;
      position: relative;
      width: 40px;
      height: 50px;
      margin: 30px;
      background-color: #E1E2E3;
      font-family: arial;
    }
    .icon:before {
      width: 0;
      height: 50px;
      border-left: 10px solid #E1E2E3;
      border-top: 10px solid transparent;
      position: absolute;
      content: "";
      top: 0px;
      right: -10px;
    }
    .icon:after {
      width: 0; 
      height: 0;
      border-right: 10px solid transparent;
      border-bottom: 10px solid rgba(0,0,0,.3);
      position: absolute;
      content: "";
      top: 0px;
      right: -10px;
    }
    .doc-type {
      position: absolute;
      bottom: 0;
      width: 50px;
      height: 16px;
      font-size: 10px;
      text-transform: uppercase;
      text-align: center;
      line-height: 10px;
      color: #FFF;
    }
    .doc-icon {
      position: absolute;
      top: 10px;
      width: 50px;
      height: 20px;
      font-size: 20px;
      text-align: center;
      line-height: 20px;
      color: #FFF;
    }

    .icon.thistle { margin-top: 0; background-color: thistle; }
    .icon.thistle:before { border-left-color: thistle; }

    .doc-icon.doc { font-size: 16px; line-height: 22px; }
  }
}

.create-doc-container {
  width: 200px;
  margin: 0 auto;
  border-radius: 30px;
  background-color: violet;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  .create-doc-successMessage {
    position: absolute;
    font-weight: 300;
    margin-top: 75px;
  }
}

.create-doc-container:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.create-doc-container.active {
  position: fixed;
  top: 100px;
  left: 5vw;
  width: 90vw;
  height: 80vh;
  background-color: #ffffff;
}

.doc-form {
  padding: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .close-bttn {
    font-family: sans-serif;
    background: none;
    outline: none;
    border: none;
    width: 75px;
    font-weight: 300;
    border-radius: 30px;
    transition: 0.5s ease-in-out;
  }

  .close-bttn:hover {
    color: #ffffff;
    background-color: #a9a9a9;
  }

  .title-input {
    width: 90%;
    background: none;
    outline: none;
    border: thin solid #663399;
    border-radius: 5px;
    font-family: sans-serif;
    margin: 10px auto;
  }

  .content-container {
    width: 100%;
    height: 80%;
    background-color: thistle;
    border-radius: 5px;
    overflow-y: auto;
  }

  .content-info {
    height: 40px;
    margin-bottom: 10px;
  }

  .markdown-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: calc(100% - 55px);
    width: 99%;
    margin: 0 auto;

    .markdown-input {
      width: 50%;
      height: 100%;
      resize: none;
      font-family: sans-serif;
      border: none;
      overflow: auto;
    }

    .markdown-preview {
      text-align: center;
      width: 50%;
      height: 100%;
      background-color: #ffffff;
      border-left: thin solid #a9a9a9;
      overflow: auto;

      .preview-content {
        text-align: left;
      }

      a {
        text-decoration: none;
        color: #663399;
      }
    }
  }

  .submit-bttn {
    outline: none;
    border: none;
    border-radius: 20px;
    background: violet;
    margin: 20px auto;
    width: 100px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    color: #dcdcdc;
    font-family: sans-serif;
    font-weight: 300;
  }
}

.create-doc-bttn {
  cursor: pointer;
  padding: 10px;
  height: 100%;
  width: 100%;
  color: #dcdcdc;
  text-align: center;
  font-weight: 300;
  font-family: sans-serif;
}