@import '../../_colors.scss';

.header-container {
  max-width: 100%;
  background-color: #ffffff;
  box-shadow: 0 4px 2px -2px grey;
  
  .header-content {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
  }

  .header-logo {
    height: 75px;
    margin: 0 10px 0 0;
  }

  .site-meta {
    width: 100vw;
    margin: 0 auto;
    padding: 0.5rem 15%;
    background-color: #ffffff;

    .site-title {
      color: $system;
      height: 75px;
      line-height: 75px;
      text-decoration: none;
      font-family: sans-serif;
      font-weight: 200;
      font-size: 200%;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    .site-description {
      color: $system;
      margin: 0;
      font-size: 120%;
      font-family: sans-serif;
      font-weight: 100;
    }
  }

  .site-meta.doc {
    width: 300px;
    margin: 0 10px;
    padding: 1.45rem 1%;

    .site-description {
      width: 100%;
      padding: 0;
      font-size: 70%;
      text-align: center;
    }
  }

  .doc-meta {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .doc-title {
      width: 100%;
      margin-bottom: 10px;
      font-weight: 400;
    }
    .doc-date {
      margin-bottom: 10px;
      line-height: 20px;
      padding: 0;
    }
  }
}