@import '../../_colors.scss';

.header-container {
  max-width: 100%;
  background-color: #ffffff;
  box-shadow: 0 4px 2px -2px grey;
  
  .header-content {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
  }

  .site-meta {
    width: 100vw;
    margin: 0 auto;
    padding: 1.45rem 15%;
    background-color: #ffffff;

    .site-title {
      color: $system;
      text-decoration: none;
      font-family: "Roboto", sans-serif;
      font-weight: 200;
    }
    .site-description {
      color: $system;
      font-size: 120%;
      font-family: "Roboto", sans-serif;
      font-weight: 100;
    }
  }

  .site-meta.doc {
    width: 300px;
    margin: 0 10px;
    padding: 1.45rem 1%;

    .site-title {
      width: 100%;
      font-weight: 400;
      font-size: 50%;
    }
    .site-description {
      width: 100%;
      padding: 0;
      font-size: 70%;
    }
  }

  .doc-meta {
    .doc-title {
      font-weight: 400;
      margin-bottom: 10px;
    }
    .doc-date {
      line-height: 20px;
      padding: 0;
    }
  }
}