$system: #3482F7;
$heading: #003366;
$dark-background: #1F2A36;
$toc: #f5f7fa;
$light-background: #d3d3d3;
$dark-text: #707070;
$anchor: #5f6d7b;
$paragraph: #707070;
$important: #ff4c4c;
$input: #0dff92;
$off-black: #101010;